.all
  .top
    h2.name  靠北過日子
      span.smalltext Q.B.Days
    .tag
    .cirButton  
  .bottom
    ul
      li 
        h3 地址：
        span.text 208 新北市金山區海興路174號
      li 
        h3 電話：
        span.text 02-24082332
      li 
        h3 開放時間： 
        span.text 11:00開始營業
    .buttons
      a(href="https://www.facebook.com/qbdays/" target="_blank").btn.btnWebsite 前往網站
      a(href="" target="_blank").btn.btnNews 更多訊息